# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Variables con secrets (NO commitear)
terraform.tfvars
*.auto.tfvars

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc
